name: CD

on:
  push:
    tags:
      - 'v*'

jobs:
  cd-tracker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{secrets.DOCKER_USER}}
          password: ${{secrets.DOCKER_PASS}}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64,linux/386
          push: true
          tags: |
            dawidd6/p2p:latest
            dawidd6/p2p:${{steps.tag.outputs.tag}}
      - name: Create Kubernetes config
        uses: Azure/k8s-set-context@v1
        with:
          kubeconfig: ${{secrets.DO_KUBE_CONFIG}}
      - name: Deploy to Kubernetes
        uses: Azure/k8s-deploy@v1
        with:
          manifests: p2ptrackerd.yaml
          images: dawidd6/tag:${{steps.tag.outputs.tag}}
