name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: Build binary
        run: make
      - name: Test code
        run: make test
  ci-proto:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install protobuf
        run: |
          brew update-reset
          brew install protobuf protoc-gen-go protoc-gen-go-grpc
      - name: Generate proto
        run: make proto
      - name: Check changes
        run: git diff --exit-code
  ci-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build image
        run: make image
      - name: Test integration
        env:
          IMG: p2p
        run: |
          # Create torrent
          docker run -v $PWD:$PWD -w $PWD -t $IMG p2p create -s 4096 go.sum

          # Start tracker
          docker run -p 8889:8889 --name tracker -d $IMG p2ptrackerd -l 0.0.0.0:8889

          # Start daemons
          docker run -p 8881:8881 -p 44441:44441 --name daemon-seed -d -v $PWD:$PWD -w $PWD $IMG p2pd -l :8881 -s :44441
          docker run -p 8882:8882 -p 44442:44442 --name daemon-leech -d $IMG p2pd -l :8882 -s :44442

          # Add torrents
          docker run -v $PWD:$PWD -w $PWD -t $IMG p2p add -l :8881 go.sum.torrent.json
          docker run -v $PWD:$PWD -w $PWD -t $IMG p2p add -l :8882 go.sum.torrent.json

          # Wait some time
          sleep 5s

          # Get statuses
          docker run -t $IMG p2p status -l :8881
          docker run -t $IMG p2p status -l :8882
