name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
      - name: Build binary
        run: make
      - name: Test code
        run: make test
  ci-proto:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
      - name: Install protobuf
        run: brew install protobuf protoc-gen-go protoc-gen-go-grpc
      - name: Generate proto
        run: make proto
      - name: Check changes
        run: git diff --exit-code
  ci-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build image
        run: make image
