name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: Build binary
        run: make
      - name: Test code
        run: make test
  ci-proto:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install protobuf
        run: |
          brew update-reset
          brew install protobuf protoc-gen-go protoc-gen-go-grpc
      - name: Generate proto
        run: make proto
      - name: Check changes
        run: git diff --exit-code
  ci-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build image
        run: make image
      - name: Test integration
        env:
          IMG: p2p
        run: |
          # Create network
          docker network create p2p-network

          # Create torrent
          docker run -v $PWD:$PWD -w $PWD -t $IMG \
            p2p create -s 4096 go.sum

          # Start tracker
          docker run --network p2p-network --name tracker -d $IMG \
            p2ptrackerd -p 8889

          # Start daemons
          docker run --network p2p-network --name daemon-seed -d -v $PWD:$PWD -w $PWD $IMG \
            p2pd -p 8881 -P 44441
          docker run --network p2p-network --name daemon-leech -d $IMG \
            p2pd -p 8882 -P 44442

          # Add torrents
          docker run --network p2p-network -v $PWD:$PWD -w $PWD -t $IMG \
            p2p add -p 8881 go.sum.torrent.json
          docker run --network p2p-network -v $PWD:$PWD -w $PWD -t $IMG \
            p2p add -p 8882 go.sum.torrent.json

          # Wait some time
          sleep 5s

          # Get statuses
          docker run --network p2p-network -t $IMG \
            p2p status -p 8881
          docker run --network p2p-network -t $IMG \
            p2p status -p 8882
